/*CARDS*/

.trabajosCard{
    width: 280px;
    height: auto;
    padding: 0 0 20px;
    margin: 30px auto;
    box-shadow: map-get($mapaDecolores, $cardShadow);
    background-color: map-get($mapaDecolores, $bgCard);
    border-radius: 20px;
    img{
        width: 100%;
        height: 300px;
        border-radius: 20px 20px 0 0;
    }
    p{
        text-align: center;
        margin: 20px 0;
    }
    .cta{
        display: block;
        background-color: map-get($mapaDecolores, $btnColor);
        color: map-get($mapaDecolores, $textColor );
        font-family: $paragraphFont;
        font-size: 1.3em;
        padding: 10px 0;
        text-align: center;
        width: 150px;
        margin: 0 auto;
        border-radius: 20px;
        &:hover{ color: map-get($mapaDecolores, $bgColor );}
    }
    &:hover{
        transform: scale(1.05);
        cursor: pointer;
        transition: 2s;
    }
    @include media-up(lg){
        width: 320px;
    }
}


/*COMENTARIOS CLIENTES*/

.clientesContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.comentariosClientes{
    width: 350px;
    height: auto;
    padding: 15px;
    margin: 10px;
    background-color: map-get($mapaDecolores , $bgCard);
    border-radius: 10px;
    text-align: center;
    img{
        width: 30px;
    }
    &:hover{
        background-color: map-get($mapaDecolores, $btnColor);
        transition: 1s;
    }
    
}