@mixin gallery($border-radius){
    width: 100%;
    background-color: $textColor;
    padding: 15px;
    border-radius: $border-radius;
}

//MEDIA QUERIES//

@mixin media-up($breakPoint) {
    @media screen and (min-width: map-get($breakPoints, $breakPoint)) {
        @content;
    }
}